.dashboard{
    .greeting{
        font-size: 18px;
    }
    .games-listing{
        padding-bottom: 30px;

        .game-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            box-shadow: 0 0 12px #00000028;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 15px;
        }
    }
}