.dashboard{
    .greeting{
        font-size: 18px;
    }
    .games-listing{
        padding-bottom: 30px;

        .game-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #f7f7f8;
            padding: 15px 20px;
            border-radius: 14px;
            margin-bottom: 15px;

            &__item{
                width: 25%;
            }
        }
    }
}