.input{
    height: 22px;
    padding: 4px 12px;
    background-color: $light-blue;
    border: 1px solid $light-blue-2;
    border-radius: 8px;

    &--big{
        font-size: 16px;
        height: 26px;
    }

    &--white{
        background-color: #ffffff;
    }
}