.input{
    height: 22px;
    padding: 4px 12px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 8px;

    &--big{
        font-size: 16px;
        height: 26px;
    }

    &--white{
        background-color: #ffffff;
    }
}