.game-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 12px #00000028;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;

    .game-timer{
        font-size: 18px;
        font-weight: bold;

        #gameTimerHours{
            display: none;
        }

        .timer-separator{
            &.hours-separator {
                display: none;
            }
        }
    }

    .success-counter{
        .successes{
            font-weight: bold;
            font-size: 24px;
            color: forestgreen;
        }
    }
}

.game-stats{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 30px;

    .stat{
        background: white;
        box-shadow: 0 0 12px #00000028;
        padding: 20px;
        border-radius: 10px;
        width: 100%;

        .stat-title{
            font-size: 14px;
            color: #555;
            font-weight: 100;
            padding-bottom: 10px;
        }

        .stat-number{
            .bold{
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}