body {
    background-color: #EAEAFF;
    line-height: 20px;
    padding-top: 76px;
    margin: 0;

    main {
        margin: 0 auto;
        max-width: 1280px;
        padding: 20px 15px 40px;
    }
}

.d-flex{
    display: flex;
}

@for $i from 1 through 10 {
    .w-#{$i}0 {
        width: #{$i} + "0%";
    }

    .p-#{$i}0 {
        padding: #{$i} + "0px";
    }

    .pb-#{$i}0 {
        padding-bottom: #{$i} + "0px";
    }

    .pt-#{$i}0 {
        padding-top: #{$i} + "0px";
    }
}