body {
    background-color: #EAEAFF;
    line-height: 20px;
    padding-top: 76px;
    margin: 0;

    main {
        margin: 0 auto;
        max-width: 1200px;
        padding: 20px 0 40px;
    }
}

.d-flex{
    display: flex;
}

@for $i from 1 through 10 {
    .w-#{$i}0 {
        width: #{$i} + "0%";
    }
}