{% extends 'base.html.twig' %}

{% block gamebar %}
<div class="game-bar">
    <div class="game-timer">
        <span id="gameTimerHours">00</span>
        <span class="timer-separator hours-separator">:</span>
        <span id="gameTimerMinutes">00</span>
        <span class="timer-separator">:</span>
        <span id="gameTimerSeconds">00</span>
    </div>
    <div class="success-counter">
        <span class="successes">0</span>
        <span class="total">/ {{ countries|length }}</span>
    </div>
    <div class="game-stop">
        <button id="stopFlagGame" class="btn btn-stop">
            {{ 'Terminer' }}
        </button>
    </div>
</div>
{% endblock %}
{% block body %}
    <main>
        <div class="countries">
            {% for country in countries %}
                <div class="country" data-encrypted="{{ country.getEncryptedName }}">
                    <img class="flag"
                         src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}"
                         alt="flag">
                    <div class="name">
                        <label>
                            <input class="name-input" type="text">
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}