{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="success-counter">
            <span class="successes">0</span>
            <span class="total">/ {{ countries|length }}</span>
        </div>
        <div class="countries">
            {% for country in countries %}
                <div class="country" data-encrypted="{{ country.getEncryptedName }}">
                    <img class="flag"
                         src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}"
                         alt="flag">
                    <div class="name">
                        <label>
                            <input class="name-input" type="text">
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}