{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h1>{{ 'Les drapeaux des pays du monde' }}</h1>
        <div class="countries">
            {% for country in countries %}
                <div class="country">
                    <div class="flag">
                        <img src="{{ asset("flags/") ~ country.iso2 ~".svg"  }}" alt="{{ country.nameFr }} flag">
                    </div>
                    <div class="name">
                        {{ country.nameFr }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}