{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="countries">
            {% for country in countries %}
                <div class="country" style="display: flex; align-items: center;">
                    <img class="flag" src="{{ asset("flags/") ~ country.getFlagImgCode ~".svg"  }}" alt="{{ country.name }} flag">
                    <div class="name">
                        {{ country.name }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}