{% extends 'base.html.twig' %}

{% block body %}
    <main style="margin: 0 auto; max-width: 1100px;">
        <div>
            countries saved : {{ number }}
        </div>
    </main>
{% endblock %}